body {
    background-color: rgba(0, 174, 255, 0.822);
}

.row1 {
    display: flex;
    padding-top: 1.5%;
}

#right-side{
    padding-top: 1%;
    padding-left: 15%;
    font-weight: bolder;
    font-size: large;
}

#submit-button{
    background: yellow;
    border-radius: 12%;
    width: 15%;
}

#hero-img {
    padding-left: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-size: cover;
    color: white;
    font-weight: 300;
    -webkit-text-stroke: 1px black;
}







/* Photo by <a href="https://unsplash.com/@grin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Andrey Grinkevich</a> on <a href="https://unsplash.com/collections/4686133/sunny-day-summer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo by <a href="https://unsplash.com/@auntneecey?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Denise Johnson</a> on <a href="https://unsplash.com/collections/4413987/rainy-day?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo by <a href="https://unsplash.com/@to_metz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tim-Oliver Metz</a> on <a href="https://unsplash.com/s/photos/cloudy-day?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo by <a href="https://unsplash.com/@philbotha?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Phil Botha</a> on <a href="https://unsplash.com/s/photos/night-time?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo by <a href="https://unsplash.com/@fotografierende?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">fotografierende</a> on <a href="https://unsplash.com/s/photos/rainy-day?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo by <a href="https://unsplash.com/@sametomorrow?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Adam Chang</a> on <a href="https://unsplash.com/s/photos/snowing?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  